# IntelliLearn React Client Environment Variables Example
VITE_GATEWAY_URL=http://localhost:8080
VITE_KEYCLOAK_URL=http://localhost:8180
VITE_KEYCLOAK_CLIENT_SECRET=<your-keycloak-client-secret>
VITE_PROGRESS_SERVICE_URL=http://localhost:8084

REACT_APP_GATEWAY_URL=http://localhost:8080
REACT_APP_KEYCLOAK_URL=http://localhost:8180
REACT_APP_KEYCLOAK_CLIENT_SECRET=<your-keycloak-client-secret>
REACT_APP_PROGRESS_SERVICE_URL=http://localhost:8084
