# IntelliLearn Platform Environment Variables (Example Template)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.be9f7gl.mongodb.net/userdb?retryWrites=true&w=majority&appName=Cluster0
SECURITY_API_KEY=test-secret-key-123
PORT=8081
